/PlasmaCraft.iws
/PlasmaCraft.iml
/PlasmaCraft.ipr
### Gradle template
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Created by .ignore support plugin (hsz.mobi)
